@use '../../../../../styles/variables.scss' as *;
@use '../../../../../styles/mixins.scss' as *;

.bottom-buttons-container {
  margin: $spacing-lg 16px;
  display: flex;
  gap: $spacing-md;
  justify-content: center;
  padding-bottom: $spacing-lg;
}

.btn-save-case {
  flex: 1;
  @include button-primary();
}

.btn-view-history {
  flex: 1;
  margin-top: 0;
  @include button-secondary();
}
