@use '../../../../../styles/variables.scss' as *;
@use '../../../../../styles/mixins.scss' as *;


.input-area {
  margin: $spacing-md $spacing-md;
}


.count-input-card {
  @include card-style();
}

@include card-header-style;

.number-input-elegant {
  @include input-style();
  width: 100%;
}
