@use '../../components/FortuneView.scss' as *;

.fortune-page {
  width: 100%;
  min-height: 100vh;
  background-color: #050510;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
