// 引入公共样式文件
@use './styles/variables.scss' as *;
@use './styles/mixins.scss' as *;
@use './styles/global.scss' as *;

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
// 应用特定样式可以在这里添加
